<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" packages="io.skerna.commons.logger">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT" follow="true">
            <!-- <PatternLayout
                     pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />-->
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{[%-5level]}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green bold, DEBUG=blue bold, TRACE=blue bold}--%style{%-28.28t{1}}{magenta} %style{%-20.30c{1.} %style{[%3.3L]}: }{cyan,bold} %msg%n"/>
        </Console>
        <TestAppender name="TestAppender">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{[%-5level]}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green bold, DEBUG=blue bold, TRACE=blue bold}--%style{%-28.28t{1}}{magenta} %style{%-20.30c{1.} %style{[%3.3L]}: }{cyan,bold} %msg%n"/>
        </TestAppender>
    </Appenders>
    <Loggers>
        <Root level="error" additivity="false">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="io.skerna.commons.logger" level="ALL" additivity="false"  includeLocation="true">
            <AppenderRef ref="console"></AppenderRef>
            <AppenderRef ref="TestAppender" level="All"/>
        </Logger>
    </Loggers>
</Configuration>